<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>About</title>
  </head>

  <body>
    <header id="header">
      <nav id="slide-nav" class="nav-bar">
        <a th:href="@{/home}" class="nav-item">HOME</a>
        <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
        <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
        <a th:href="@{/about}" class="nav-item">ABOUT</a>
      </nav>
      <div class="header-logo">
        <a th:href="@{/home}"
          ><img id="logo" th:src="@{/image/Logo Oblitrack.png}" />OBLITRACK</a>
      </div>
    </header>
    <h1>TENTANG OBLITRACK</h1>
    <P>Oblitrack merupakan aplikasi untuk menghitung obligasi dari berbagai perusahaan. 
      Obligasi adalah surat utang berbunga yang diterbitkan oleh perusahaan atau entitas lain. Pemegang obligasi 
      (kreditor) memiliki hak klaim dengan prioritas lebih tinggi dibandingkan pemegang saham biasa. Ketika seseorang 
      membeli obligasi, mereka pada dasarnya meminjamkan uang kepada penerbit obligasi dengan imbalan pembayaran 
      bunga secara berkala dan pengembalian nilai nominal obligasi pada saat jatuh tempo.
      Kontrak Obligasi merupakan perjanjian antara penerbit obligasi dan pemegang obligasi yang menentukan jenis 
      dan syarat obligasi.
      Jenis-jenis Obligasi:
      1. Obligasi Berjangka (Term Bonds): Obligasi yang jatuh tempo pada satu waktu yang bersamaan.
      2. Obligasi Berseri (Serial Bonds): Obligasi yang jatuh tempo tersebar pada beberapa tanggal.
      3. Obligasi yang Dapat Ditebus (Callable Bonds): Obligasi yang dapat ditebus oleh penerbit sebelum jatuh tempo.
      4. Obligasi Konversi (Convertible Bonds): Obligasi yang dapat dipertukarkan dengan saham biasa.
      
      Nilai Nominal dan Bunga dalam Penerbitan Obligasi:
      - Nilai Nominal: Nilai yang tertera dalam lembar obligasi dan harus dibayarkan pada saat jatuh tempo.
      - Suku Bunga Kupon: Bunga yang dibayarkan oleh penerbit obligasi kepada pemegang obligasi, dinyatakan dalam kontrak obligasi. Bisa dibayar setahun sekali, setiap semester, atau setiap kuartal.
      
      Suku Bunga Pasar: Suku bunga yang terjadi di pasar, sering disebut suku bunga efektif. Mempengaruhi harga jual obligasi.
      Faktor Penentu Harga Penerbitan adalah Nilai nominal, suku bunga kupon, dan suku bunga pasar. 
      <img id="logo" th:src="@{/image/Diskon Premi.png}" />


Diskon dan Premium: Selisih kurang nilai jual dengan nilai nominal disebut diskon, sedangkan selisih lebih nilai jual dengan nilai nominal disebut premium.
    </P>
  </body>
</html>
