<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>About</title>
  </head>

  <body>
    <header id="header">
      <nav id="slide-nav" class="nav-bar">
        <a th:href="@{/home}" class="nav-item">HOME</a>
        <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
        <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
        <a th:href="@{/about}" class="nav-item">ABOUT</a>
      </nav>
      <div class="header-logo">
        <a th:href="@{/home}"
          ><img id="logo" th:src="@{/image/Logo Oblitrack.png}" />OBLITRACK</a>
      </div>
    </header>
    <h1>TENTANG OBLITRACK</h1>
    <P>Oblitrack merupakan aplikasi untuk menghitung obligasi dari berbagai perusahaan. 
      Obligasi adalah instrumen keuangan yang digunakan oleh pemerintah, perusahaan, atau entitas lainnya 
      untuk mengumpulkan dana dari investor. Ketika seseorang membeli obligasi, mereka pada dasarnya m
      eminjamkan uang kepada penerbit obligasi dengan imbalan pembayaran bunga secara berkala dan 
      pengembalian nilai nominal obligasi pada saat jatuh tempo.
    </P>
  </body>
</html>
