<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>Add Transaction</title>
  </head>
  
  <body>
    <header id="header">
      <nav id="slide-nav" class="nav-bar">
        <a th:href="@{/home}" class="nav-item">HOME</a>
        <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
        <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
        <a th:href="@{/about}" class="nav-item">ABOUT</a>
      </nav>
      <div class="header-logo">
        <a th:href="@{/home}"
          ><img id="logo" th:src="@{/image/Logo Oblitrack.png}" />OBLITRACK</a>
      </div>
    </header>
    <h1>Tambah Transaksi</h1>
    <form th:action="@{/save-transaksi}" method="post">
      <label>Nama Perusahaan :</label>
      <input
        type="text"
        placeholder="Masukkan nama perusahaan"
        th:field="${transaction.namaPerusahaan}"
      />
      <br />
      <label>Tanggal Penerbitan :</label>
      <input
        type="date"
        placeholder="Masukkan tanggal penerbitan"
        th:field="${transaction.tanggalTerbit}"
      />
      <br />
      <label>Nilai Nominal :</label>
      <input
        type="text"
        placeholder="Masukkan nilai nominal"
        th:field="${transaction.nilaiNominal}"
      />
      <br />
      <label>Lembar Utang :</label>
      <input
        type="text"
        placeholder="Masukkan lembar utang"
        th:field="${transaction.lembarUtang}"
      />
      <br />
      <label>Bunga(dalam persen) :</label>
      <input
        type="number"
        placeholder="Masukkan bunga"
        th:field="${transaction.bunga}"
      />
      <br />
      <label>Tanggal Bayar Bunga :</label>
      <input type="date" th:field="${transaction.tanggalBayar}" /> <br />
      <input type="date" th:field="${transaction.tanggalBayarr}" /> <br />
      <label>Jangka Waktu(tahun) :</label>
      <input
        type="text"
        placeholder="Masukkan jangka waktu"
        th:field="${transaction.jangkaWaktu}"
      />
      <br />
      <label>Kurs :</label>
      <input
        type="text"
        placeholder="Masukkan kurs"
        th:field="${transaction.kurs}"
      />
      <br />
      <label>Suku Bunga Pasar(dalam persen) :</label>
      <input
        type="number"
        placeholder="Masukkan suku bunga pasar"
        th:field="${transaction.sukuBungaPasar}"
      />
      <br />
      <label>Harga Penerbitan :</label>
      <input
        type="text"
        placeholder="Masukkan harga penerbitan"
        th:field="${transaction.hargaPenerbitan}"
      />
      <br />
      <button type="submit" class="ujung">Simpan</button> <br />
    </form>
  </body>
</html>
