<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>Amortisasi</title>
  </head>

  <body>
    <header id="header">
      <nav id="slide-nav" class="nav-bar">
        <a th:href="@{/home}" class="nav-item">HOME</a>
        <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
        <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
        <a th:href="@{/about}" class="nav-item">ABOUT</a>
      </nav>
      <div class="header-logo">
        <a th:href="@{/home}"
          ><img id="logo" th:src="@{/image/Logo Oblitrack.png}" />OBLITRACK</a
        >
      </div>
    </header>
    <h1>Amortisasi</h1>
    <div th:each="transaksi : ${amortisasis}" th:object="${transaksi}">
      <h1 th:text="*{namaPerusahaan}"></h1>
      <table border="1">
        <div th:if="*{bunga > sukuBungaPasar}">
          <tr>
            <th>Ke</th>
            <th>Tanggal Pembayaran Bunga</th>
            <th>Tanggal Pembayaran Bunga</th>
            <th>Bunga Dibayarkan</th>
            <th>Beban Bunga</th>
            <th>Amortisasi Premium</th>
            <th>Premium Yang Belum Diamortisai</th>
          <th>Nilai Buku Obligasi</th>
        </tr>
        <tr th:each="amortisasi,n : *{amortisasis}">
          <td th:text="${n.index+1}"></td>
          <td th:text="${amortisasi.tanggalBayarBunga}"></td>
          <td th:text="${amortisasi.tanggalBayarrBunga}"></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.bungaDibayarkan, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.bebanBunga, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.amortisasiDiskonto, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
            th:text="${#numbers.formatDecimal(amortisasi.yangBelumAmortisasi, 2, 'COMMA', 2, 'POINT')}"
            ></td>
            <td
            th:text="${#numbers.formatDecimal(amortisasi.nilaiBukuObligasi, 2, 'COMMA', 2, 'POINT')}"
            ></td>
          </tr>
        </div>
        <div th:unless="*{bunga > sukuBungaPasar}">
          <tr>
            <th>Ke</th>
            <th>Tanggal Pembayaran Bunga</th>
            <th>Tanggal Pembayaran Bunga</th>
            <th>Bunga Dibayarkan</th>
            <th>Beban Bunga</th>
            <th>Amortisasi Diskonto</th>
            <th>Diskonto Yang Belum Diamortisai</th>
          <th>Nilai Buku Obligasi</th>
        </tr>
        <tr th:each="amortisasi,n : *{amortisasis}">
          <td th:text="${n.index+1}"></td>
          <td th:text="${amortisasi.tanggalBayarBunga}"></td>
          <td th:text="${amortisasi.tanggalBayarrBunga}"></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.bungaDibayarkan, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.bebanBunga, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
          th:text="${#numbers.formatDecimal(amortisasi.amortisasiDiskonto, 2, 'COMMA', 2, 'POINT')}"
          ></td>
          <td
            th:text="${#numbers.formatDecimal(amortisasi.yangBelumAmortisasi, 2, 'COMMA', 2, 'POINT')}"
            ></td>
            <td
            th:text="${#numbers.formatDecimal(amortisasi.nilaiBukuObligasi, 2, 'COMMA', 2, 'POINT')}"
            ></td>
          </tr>
        </div>
      </table>
    </div>
  </body>
</html>
