<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Selamat Datang di ObliTrack</h1>
        <table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nama Perusahaan</th>
              <th scope="col">Tanggal Penerbitan</th>
              <th scope="col">Nilai Nominal</th>
              <th scope="col">Lembar Utang</th>
              <th scope="col">Bunga</th>>
              <th scope="col">Tanggal Bayar Bunga</th>
              <th scope="col">Jangka Waktu</th>
              <th scope="col">Kurs</th>
              <th scope="col">Harga Penerbitan</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="transaction : ${transaction}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.namaPerusahaan}"></td>
                <td th:text="${transaction.tanggalTerbit}"></td>
                <td th:text="${transaction.nilaiNominal}"></td>
                <td th:text="${transaction.lembarUtang}"></td>
                <td th:text="${transaction.bunga}"></td>
                <td th:text="${transaction.tanggalBayar}"></td>
                <td th:text="${transaction.jangkaWaktu}"></td>
                <td th:text="${transaction.kurs}"></td>
                <td th:text="${transaction.hargaPenerbitan}"></td>
                <td>
                  <a th:href="@{/update-transaction/{id}(id=${transaction.id})}" class="btn-primary"
                    >Edit</a>
                  <a th:href="@{/delete-transaction/{id}(id=${transaction.id})}" class="btn-warning"
                    >Hapus</a>
                  <a th:href="@{/journal/{id}(id=${transaction.id})}" class="btn-primary"
                    >Lihat jurnal?</a>
                </td>
              </tr>
            </tbody>
        </table>
    </body>
</html>