<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
    <head>
        <title>Journal</title>
    </head>

    <body>
      <header id="header">
        <nav id="slide-nav" class="nav-bar">
            <a th:href="@{/home}" class="nav-item">HOME</a>
            <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
            <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
            <a th:href="@{/about}" class="nav-item">ABOUT</a>
        </nav>
        <div class="header-logo">
            <a th:href="@{/home}"><img id="logo" th:src="@{/image/Logo Oblitrack.png}">OBLITRACK</a>
        </div>
      </header>
      <!-- <div th:each="journal : ${journal}"> -->
        <div class="jurnal">
            <h2>Jurnal Penerbitan Obligasi</h2>
            <table>
              <tbody>
                <tr>
                  <td th:text="${journal.transaction.tanggalTerbit}"></td>
                  <th scope="col">D. Kas</th>
                  <td th:text="${#numbers.formatDecimal(journal.dPenerbitanKas, 2, 'COMMA', 2, 'POINT')} "></td>
                  <div th:if="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                      <th scope="col">  K. Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPenerbitanUtangObligasi, 2, 'COMMA', 2, 'POINT')} "></td>
                      <th scope="col">  K. Premium Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPenerbitanPremi, 2, 'COMMA', 2, 'POINT')} "></td>
                  </div> 
                  <div th:unless="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                      <th scope="col">D. Diskonto Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.dPenerbitan, 2, 'COMMA', 2, 'POINT')} "></td>
                      <th scope="col">  K. Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPenerbitanUtangObligasi, 2, 'COMMA', 2, 'POINT')} "></td>
                  </div>
              </tr>            
              </tbody>
            </table>
            </div>
            <div class="jurnal">
              <h2>Jurnal Pembayaran Bunga</h2>
              <table>
                <tbody>
                  <tr>
                    <td th:text="${journal.transaction.tanggalBayar}"></td>
                    <th scope="col">D. Beban Bunga</th>
                    <td th:text="${#numbers.formatDecimal(journal.dBayarBungaAwal, 2, 'COMMA', 2, 'POINT')}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${#numbers.formatDecimal(journal.kBayarBungaAwal, 2, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${journal.transaction.tanggalBayarr}"></td>
                    <th scope="col">D. Beban Bunga</th>
                    <td th:text="${#numbers.formatDecimal(journal.dBayarBungaAkhir, 2, 'COMMA', 2, 'POINT')}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${#numbers.formatDecimal(journal.kBayarBungaAkhir, 2, 'COMMA', 2, 'POINT')}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="jurnal">
              <h2>Jurnal Saat Akhir Tahun</h2>
              <table>
                <tbody>
                  <tr>
                    <div th:if="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                      <th scope="col">D. Premium Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.dAkhirTahun, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">  K. Beban Bunga</th>
                      <td th:text="${#numbers.formatDecimal(journal.kAkhirTahun, 2, 'COMMA', 2, 'POINT')}"></td>
                    </div>
                    <div th:unless="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                      <th scope="col">D. Beban Bunga </th>
                      <td th:text="${#numbers.formatDecimal(journal.dAkhirTahun, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">  K. Diskonto Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.kAkhirTahun, 2, 'COMMA', 2, 'POINT')}"></td>
                      </div>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="jurnal">
              <h2>Jurnal Saat Pelunasan</h2>
              <table>
                <tbody>
                  <tr>
                    <div th:if="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                      <td th:text="${journal.tanggalPelunasan}"></td>
                      <th scope="col">D. Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.dPelunasan, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">D. Premium Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.dPelunasanPremi, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">  K. Kas</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPelunasan, 2, 'COMMA', 2, 'POINT')} "></td>
                    </div>
                    <div th:unless="${journal.transaction.bunga > journal.transaction.sukuBungaPasar}"> 
                    <td th:text="${journal.tanggalPelunasan}"></td>
                      <th scope="col">D. Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.dPelunasan, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">  K. Diskonto Utang Obligasi</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPelunasanDiskon, 2, 'COMMA', 2, 'POINT')}"></td>
                      <th scope="col">  K. Kas</th>
                      <td th:text="${#numbers.formatDecimal(journal.kPelunasan, 2, 'COMMA', 2, 'POINT')} "></td>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
    </body>
</html>
