<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
    <head>
        <title>Jurnal</title>
    </head>

    <body>
        <h1>Jurnal Perusahaan <td th:text="${journal.transaction.namaPerusahaan}"></td></h1>
        <div class="jurnal">
            <h2>Jurnal Penerbitan Obligasi</h2>
            <table>
              <tbody>
                <tr th:each="journal : ${journal}">
                  <td th:text="${journal.transaction.tanggalTerbit}"></td>
                  <th scope="col">D. Kas</th>
                  <td th:text="${journal.dPenerbitanKas} "></td>
                  <div th:if="${journal.transaction.kurs > 100}"> 
                    <th scope="col">  K. Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitanUtangObligasi} "></td>
                    <th scope="col">  K. Premium Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitan} "></td>
                  </div> 
                  <div th:unless="${journal.transaction.kurs > 100}"> 
                    <th scope="col">D. Diskonto Utang Obligasi</th>
                    <td th:text="${journal.dPenerbitan} "></td>
                    <th scope="col">  K. Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitanUtangObligasi} "></td>
                  </div>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="jurnal">
              <h2>Jurnal Pembayaran Bunga</h2>
              <table>
                <tbody>
                  <tr th:each="journal : ${journal}">
                    <td th:text="${journal.transaction.tanggalBayar}"></td>
                    <th scope="col">D. Beban Bunga</th>
                    <td th:text="${journal.dBayarBungaAwal}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${journal.kBayarBungaAwal}"></td>
                    <td th:text="${journal.transaction.tanggalBayarr}"></td>
                    <th scope="col">D. Beban Bunga</th>
                    <td th:text="${journal.dBayarBungaAkhir}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${journal.kBayarBungaAkhir}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="jurnal">
              <h2>Jurnal Saat Akhir Tahun</h2>
              <table>
                <tbody>
                  <tr th:each="journal : ${journal}">
                    <div th:if="${journal.transaction.kurs > 100}"> 
                      <th scope="col">D. Premium Utang Obligasi</th>
                      <td th:text="${journal.dAkhirTahun}"></td>
                      <th scope="col">  K. Beban Bunga</th>
                      <td th:text="${journal.kAkhirTahun}"></td>
                    </div>
                    <div th:unless="${journal.transaction.kurs > 100}"> 
                      <th scope="col">D. Beban Bunga </th>
                      <td th:text="${journal.dAkhirTahun}"></td>
                      <th scope="col">  K. Diskonto Utang Obligasi</th>
                      <td th:text="${journal.kAkhirTahun}"></td>
                      </div>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="jurnal">
              <h2>Jurnal Saat Pelunasan</h2>
              <table>
                <tbody>
                  <tr th:each="journal : ${journal}">
                    <th scope="col"></th>
                    <td th:text="${journal.dPelunasan}"></td>
                    <th scope="col"></th>
                    <td th:text="${journal.kPelunasan}"></td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
    </body>
</html>
