<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>List Journal</title>
  </head>

  <body>
    <header id="header">
      <nav id="slide-nav" class="nav-bar">
          <a th:href="@{/home}" class="nav-item">HOME</a>
          <a th:href="@{/list-journal}" class="nav-item">JOURNAL</a>
          <a th:href="@{/amortisasi}" class="nav-item">AMORTISASI</a>
          <a th:href="@{/about}" class="nav-item">ABOUT</a>
      </nav>
      <div class="header-logo">
          <a th:href="@{/home}"><img id="logo" th:src="@{/image/Logo Oblitrack.png}">OBLITRACK</a>
      </div>
    </header>
      <h1>Jurnal Perusahaan <td th:text="${journal.transaction.namaPerusahaan}"></td></h1>
      <div class="jurnal">
          <h2>Jurnal Penerbitan Obligasi</h2>
          <table>
            <tbody>
              <tr th:each="journal : ${journal}">
                <td th:text="${journal.transaction.tanggalTerbit}"></td>
                <th scope="col">D. Kas</th>
                <td th:text="${journal.dPenerbitanKas} "></td>
                <div th:if="${journal.transaction.kurs > 100}"> 
                    <th scope="col">  K. Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitanUtangObligasi} "></td>
                    <th scope="col">  K. Premium Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitanPremi} "></td>
                </div> 
                <div th:unless="${journal.transaction.kurs > 100}"> 
                    <th scope="col">D. Diskonto Utang Obligasi</th>
                    <td th:text="${journal.dPenerbitan} "></td>
                    <th scope="col">  K. Utang Obligasi</th>
                    <td th:text="${journal.kPenerbitanUtangObligasi} "></td>
                </div>
            </tr>            
            </tbody>
          </table>
          </div>
          <div class="jurnal">
            <h2>Jurnal Pembayaran Bunga</h2>
            <table>
              <tbody>
                <tr th:each="journal : ${journal}">
                  <td th:text="${journal.transaction.tanggalBayar}"></td>
                  <th scope="col">D. Beban Bunga</th>
                  <td th:text="${journal.dBayarBungaAwal}"></td>
                  <th scope="col">  K. Kas</th>
                  <td th:text="${journal.kBayarBungaAwal}"></td>
                  <td th:text="${journal.transaction.tanggalBayarr}"></td>
                  <th scope="col">D. Beban Bunga</th>
                  <td th:text="${journal.dBayarBungaAkhir}"></td>
                  <th scope="col">  K. Kas</th>
                  <td th:text="${journal.kBayarBungaAkhir}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="jurnal">
            <h2>Jurnal Saat Akhir Tahun</h2>
            <table>
              <tbody>
                <tr th:each="journal : ${journal}">
                  <div th:if="${journal.transaction.kurs > 100}"> 
                    <th scope="col">D. Premium Utang Obligasi</th>
                    <td th:text="${journal.dAkhirTahun}"></td>
                    <th scope="col">  K. Beban Bunga</th>
                    <td th:text="${journal.kAkhirTahun}"></td>
                  </div>
                  <div th:unless="${journal.transaction.kurs > 100}"> 
                    <th scope="col">D. Beban Bunga </th>
                    <td th:text="${journal.dAkhirTahun}"></td>
                    <th scope="col">  K. Diskonto Utang Obligasi</th>
                    <td th:text="${journal.kAkhirTahun}"></td>
                    </div>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="jurnal">
            <h2>Jurnal Saat Pelunasan</h2>
            <table>
              <tbody>
                <tr th:each="journal : ${journal}">
                  <div th:if="${journal.transaction.kurs > 100}"> 
                    <td th:text="${journal.tanggalPelunasan}"></td>
                    <th scope="col">D. Utang Obligasi</th>
                    <td th:text="${journal.dPelunasan}"></td>
                    <th scope="col">D. Premium Utang Obligasi</th>
                    <td th:text="${journal.dPelunasanPremi}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${journal.kPelunasan} "></td>
                  </div>
                  <div th:unless="${journal.transaction.kurs > 100}"> 
                  </div>
                  <td th:text="${journal.tanggalPelunasan}"></td>
                    <th scope="col">D. Utang Obligasi</th>
                    <td th:text="${journal.dPelunasan}"></td>
                    <th scope="col">  K. Diskonto Utang Obligasi</th>
                    <td th:text="${journal.kPelunasanDiskon}"></td>
                    <th scope="col">  K. Kas</th>
                    <td th:text="${journal.kPelunasan} "></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </body>
</html>
