<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>Masuk</title>
  </head>

  <body>
    <div class="wrapper">
      <form th:action="@{/home}" method="post">
        <h1>Masuk</h1>
        <div class="input-box">
          <label>Nama Akun :</label>
          <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
          />
          <br />
          <label>Kata Sandi :</label>
          <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
          />
          <br />
          <div class="pengingat" remember-forget>
            <p><input type="checkbox" />Ingatkan saya</p>
          </div>
        </div>
        <button type="submit">Masuk</button>
        <p>Belum punya akun? <a th:href="@{registrasi}">Daftar di sini</a></p>
      </form>

      <div th:if="${error}">
        <p th:text="${error}" style="color: red"></p>
      </div>
    </div>
  </body>
</html>
