<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/style.css}" rel="stylesheet" />
  <head>
    <title>Registrasi</title>
  </head>

  <body>
    <div class="wrapper">
      <form th:action="@{/save-regis}" method="post">
        <h1>Registrasi Akun</h1>
        <div class="input-box">
          <label>Nama Akun :</label>
          <input type="text" th:field="${regis.username}" />
          <div
            th:if="${usernameError}"
            class="error"
            th:text="${usernameError}"
          ></div>
          <br />
          <label>Kata Sandi :</label>
          <input type="password" th:field="${regis.password}" /> <br />
          <div
            th:if="${passwordError}"
            class="error"
            th:text="${passwordError}"
          ></div>
        </div>
        <button type="submit">Daftar</button>
        <p>Sudah punya akun? <a th:href="@{login}">Masuk di sini</a></p>
      </form>
    </div>
  </body>
</html>
